---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}





Research Experience
======
* Feb. 2021 - Jul. 2022: Master Project
  * University of Tehran
  * Title: Design and Fabrication of a Flexible Strain and Pressure Sensor based on Conductive Nanocomposites
  * Duties included: **Synthesizing** Polyaniline (**PANI**); Synthesizing Thermoplastic polyurethane (**TPU**) **Sheets**; Investigating the **hydrophobicity** of different **substrates**; **Designing** and **fabricating** silver electrodes on **flexible substrates**; Synthesizing the **FMWCNT/PANI nanocomposite**; Conducting **Strain** and **Pressure** Stimulus **Tests** for Sensor **Calibration**; **Optimizing** sensor **performance**; **Analyzing** sensor **responses**.
  * Supervisor: [Prof. Nikfarjam](https://fnst.ut.ac.ir/en/~a.nikfarjam)
<br>
<br> 
* May. 2021 - Sep. 2021: Research Assistant
  * University of Tehran
  * Title: Design and Fabrication of Superconducting, Stable, and Low-Cost Electrodes on Flexible Substrates
  * Duties included: Examining various materials to select the **most suitable** one for use as the **electrode**; Investigating different materials for potential use as a **flexible, transparent, and stretchable substrate**; Exploring various coating methods to **create precise electrode patterns**; Assessing the **durability**, **stability**, and **conductivity** of fabricated flexible electrodes and **optimizing** their **characteristics**.
  * Supervisor: [Prof. Nikfarjam](https://fnst.ut.ac.ir/en/~a.nikfarjam)
<br>
<br> 
* Feb. 2019 - Feb. 2020: Research Assistant
  * University of Tehran
  * Title: Synthesis of Ultra-Thin, Long Silver Nanowires (AgNWs) for the Fabrication of Flexible, Transparent, and Conductive Electrodes
  * Duties included: Examining various methods for **synthesizing silver nanowires** to achieve a high aspect ratio (ultra-thin, long AgNWs); Investigating approaches to **weld AgNWs** to enhance their conductivity and reshape the network; **Patterning AgNWs** in different configurations to create various patterns; and Exploring methods to **simultaneously improve transparency** and **conductivity**.
  * Supervisor: [Prof. Nikfarjam](https://fnst.ut.ac.ir/en/~a.nikfarjam)
<br>
<br>
* May 2019 - Jul. 2019: Research Assistant
  * University of Tehran
  * Title: Design and Fabrication of a Nickel-Based Micro-Heater
  * Duties included: Designing photolithography masks; Fabricating a **micro-interdigitated electrode** pattern; Performing **RCA-1** cleaning processes; Applying **chrome** and **nickel** coatings using the **PVD method**; Applying **gold** coating through the **DC sputtering** technique; **Spin-coating** of **photoresists**; Performing **photolithography** and **etching** on the gold, chrome, and nickel layers.
  * Supervisor: [Prof. Nikfarjam](https://fnst.ut.ac.ir/en/~a.nikfarjam)
<br>
<br>
* May 2018 - Sep. 2018: Undergraduate Project
  * Iran University of Science and Technology
  * Title: Investigating the Structure, Properties, and Behavior Prediction of GaAs Semiconductor Lasers with 808 nm Radiation Wavelength and Bandwidth Less than 5 nm
  * Duties included: Investigating and analyzing the structure of **Quantum Well Lasers**; Modeling 808 nm Laser **Structures** using **Wolfram Mathematica** Software and **Silvaco** Software; **Optimizing** the **bandwidth** of **semiconductor laser** output spectrum; Examining the influence of various laser **characteristics**, including the **active region** width, **waveguide layer** width, and **threshold current density**, on laser bandwidth.
  * Supervisor: [Prof. Yazdanpanah](https://www.linkedin.com/in/vahid-yazdanpanah-83a57231/)



  
Publications
======
H.Savari, A.Nikfarjam - ”Design and fabrication of a flexible strain and pressure sensor based on
conductive nanocomposites,” 2023. under preparation

<!--
<ul>{% for post in site.publications %}
  {% include archive-single-cv.html %}
  {% endfor %}</ul>
--> 




CV File
=====
  
<html lang="en"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Begin Jekyll SEO tag v2.8.0 -->
<title>CV | Hediyeh Savari</title>
<meta name="generator" content="Jekyll v4.3.1" />
<meta property="og:title" content="ABOUT" />
<meta name="author" content="Hediyeh Savari" />
<meta property="og:locale" content="en_US" />
<meta name="description" content=" Personal website of Hediyeh Savari" />
<meta property="og:description" content="Personal website of Hediyeh Savari" />
<link rel="canonical" href="http://localhost:4000/" />
<meta property="og:url" content="http://localhost:4000/" />
<meta property="og:site_name" content="Hediyeh Savari" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
<meta property="twitter:title" content="ABOUT" />
<script type="application/ld+json">
{"@context":"https://schema.org","@type":"WebSite","author":{"@type":"Person","name":"Hediyeh Savari"},"description":"Personal website of Hediyeh Savari","headline":"ABOUT","name":"Hediyeh Savari","url":"http://localhost:4000/"}</script>
<!-- End Jekyll SEO tag -->
<!--<link rel="stylesheet" href="/assets/css/style.css">-->
  <link rel="stylesheet" href="/assets/css/github-markdown.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">	
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><link type="application/atom+xml" rel="alternate" href="http://localhost:4000/feed.xml" title="Hediyeh Savari" />
</head>
<body class="w3-content" style="max-width:1600px">

 <div align="center"> 
<p><a href="https://github.com/hediyeh-savari/hediyeh-savari.github.io/blob/master/files/Hediyeh_Savari_CV.pdf" class="w3-button w3-white w3-border w3-border-indigo w3-round-large w3-text-blue">Download My CV</a> </p>
 </div>
  
</body>  
</html>
